{% extends "layout.html" %}

{% block body %}
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
      <div class="carousel-inner">
        <div class="carousel-item text-center active">
          <img src="../static/images/carousel1_Daria_Yakovleva.jpg" class="img-fluid" alt="Sushi image">
          <div class="carousel-caption d-none d-md-block">
            <p> Images by
              <a href="https://pixabay.com/users/Daria-Yakovleva-3938704/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2068272">Дарья Яковлева</a> from
              <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2068272">Pixabay</a>
              , Logo by <a href="https://pixabay.com/users/tumisu-148124/">Tumisu</a>
            </p>
          </div>
        </div>
        <div class="carousel-item text-center">
          <img src="../static/images/carousel2_Bru-nO_and_PublicDomainPictures.jpg" class="img-fluid" alt="Juice image">
          <div class="carousel-caption d-none d-md-block">
            <p> Images by
              <a href="https://pixabay.com/users/PublicDomainPictures-14/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=316743">PublicDomainPictures,</a>
              <a href="https://pixabay.com/users/Bru-nO-1161770/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4066535">Bruno Glätsch</a> from
              <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=316743">Pixabay</a>
            </p>
          </div>
        </div>
        <div class="carousel-item text-center">
          <img src="../static/images/carousel3_pizza_marcos_vega.jpg" class="img-fluid" alt="Pizza image">
          <div class="carousel-caption d-none d-md-block">
            <p> Images by <a href="https://pixabay.com/users/marckbass8-2362479/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1317699">marcos vega,</a>
            <a href="https://pixabay.com/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=883637">Gerd Altmann, </a>
            <a href="https://pixabay.com/users/pencilparker-7519217/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3045129">pencil parker, </a>
            <a href="https://pixabay.com/users/jamesoladujoye-3409212/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1702652">jamesoladujoye, </a>
            <a href="https://pixabay.com/users/Deans_Icons-2620543/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1428930">Dean Norris</a> from
            <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1317699">Pixabay</a></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="wrapper-inner">
      <ul class="flex-container">
        <li class="flex-item">
          <div class="myBox">
            <h6>{{ _('GIFT CARD') }}</h6>
            <img src="../static/images/GiftCard.jpg" class="rounded img-fluid" alt="Gift cards for online pizza delivery">
            <p>{{ _('Gift them a Gift Card today') }}</p>
          </div>
        </li>
        <li class="flex-item">
          <div class="myBox">
            <h6>{{ _('TUESDAY') }} -10% {{ _('DISCOUNT') }}</h6>
            <a href="/menu"><img src="../static/images/discount.jpg"class="rounded img-fluid" alt="Every tuesday -10% discount for pizza"></a>
            <p>{{ _("There's no better day for pizza than Tuesday!") }}</p>
          </div>
        </li>
        <li class="flex-item">
          <div class="myBox">
            <h6>{{ _('RESTAURANT NOW SOCIAL') }}</h6>
            <ul>
              <li>
                <a href="https://www.facebook.com"><img src="../static/images/facebook.png" class="rounded img-fluid" alt="Facebook icon"></a>
                <a href="https://www.twitter.com"><img src="../static/images/twitter.png" class="rounded img-fluid" alt="Twitter icon"></a>
              </li>
            </ul>
            <p>{{ _('Like us on Facebook and follow us on Twitter!') }}</p>
          </div>
        </li>
      </ul>
  </div>
  <footer class="footer">
    <div class="footer">
      <ol class="flex-container">
        <li class="flex-item foo">{{ _('FRANCHISING') }}</li>
        <li class="flex-item foo">{{ _('JOIN OUR TEAM') }}</li>
        <li class="flex-item foo">{{ _('ABOUT US') }}</li>
        <li class="flex-item foo">{{ _('MENU PDF') }}</li>
      </ol>
    </div>
  </footer>
{% endblock %}
